<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <%- include('../includes/nav.ejs', {isLogged: isLogged, path: path}) %>

    <main>
      <section class="login-section">
        <div class="login-container">
          <h2 class="faq-heading">Change Password</h2>
          <% if (validation) { %>
          <form class="login-form" action="/change-password" method="post">
            <div>
              <label for="old-password">Old Password</label>
              <input type="password" id="old-password" name="oldPassword" required>
            </div>
            <div>
              <label for="password">New Password</label>
              <input type="password" id="password" name="password" required>
            </div>
              <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirmPassword" required>
              </div>
            <button type="submit" class="submit-btn">
              Change Password
            </button>
          </form>
          <% } else { %>
            <form class="login-form" action="/change-password" method="post">
              <div>
                <label for="old-password">Old Password</label>
                <input type="password" id="old-password" name="oldPassword" required value="<%= oldInput.oldPassword %>" class="<% if (errors.oldPassword) { %>error<% } %>">
                <% if (errors.oldPassword) {%> 
                  <p class="error-msg"><%= errors.oldPassword.msg %></p>
                <% } %>
              </div>
              <div>
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" required value="<%= oldInput.password %>" class="<% if (errors.password || errors.confirmPassword) { %>error<% } %>">
                <% if (errors.password) {%> 
                  <p class="error-msg"><%= errors.password.msg %></p>
                <% } %>
              </div>
                <div>
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password" id="confirm-password" name="confirmPassword" required value="<%= oldInput.confirmPassword %>" class="<% if (errors.confirmPassword) { %>error<% } %>">
                  <% if (errors.confirmPassword) {%> 
                    <p class="error-msg"><%= errors.confirmPassword.msg %></p>
                  <% } %>
                </div>
              <button type="submit" class="submit-btn">
                Change Password
              </button>
            </form>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('../includes/footer.ejs') %>
  </body>
</html>
