<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/faq.css">
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include('../includes/nav.ejs', {isLogged: isLogged, path: path}) %>

  <main>
    <section class="login-section">
      <div class="login-container">
        <h2 class="faq-heading">Reset Password</h2>
        <% if (validation) { %>
        <form class="login-form" action="/new-password" method="post">
          <input type="hidden" name="token" value="<%= token %>">
          <input type="hidden" name="userId" value="<%= userId %>"> 
          <div>
            <label for="password">New Password</label>
            <input type="password" id="password" name="password">
          </div>
          <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirmPassword" > 
          </div>
          <button type="submit" class="submit-btn">Reset</button>
        </form>
        <% } else { %>
          <form class="login-form" action="/new-password" method="post">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="userId" value="<%= userId %>"> 
            <div>
              <label for="password">New Password</label>
              <input type="password" id="password" name="password" value="<%= oldInput.password %>" class="<% if (errors.password  || errors.confirmPassword) { %>error<% } %>">
            </div>
            <% if (errors.password) {%> 
              <p class="error-msg"><%= errors.password.msg %></p>
            <% } %>
            <div>
              <label for="confirm-password">Confirm Password</label>
              <input type="password" id="confirm-password" name="confirmPassword" value="<%= oldInput.confirmPassword %>" class="<% if (errors.confirmPassword) { %>error<% } %>"> 
              <% if (errors.confirmPassword) {%> 
                <p class="error-msg"><%= errors.confirmPassword.msg %></p>
              <% } %>
            </div>
            <button type="submit" class="submit-btn">Reset</button>
          </form>
        <% } %>
      </div>
    </section>
  </main>
  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/icon.ejs') %>
</body>