<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/faq.css">
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include('../includes/nav.ejs', {path: path, isLogged: isLogged}) %>
  <main>
    <div class="login-container">
      <h2 class="faq-heading">Reset Password</h2>
      <% if (validation) {%>
      <form action="/reset" method="post" class="login-form">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
          <p class="note">We are going to send a link to the email address.</p>
        </div>
          <button type="submit" class="submit-btn">Reset Password</button>
      </form>
      <% } else {%>
        <form action="/reset" method="post" class="login-form">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= oldInput.email %>" class="error">
            <p class="note">We are going to send a link to the email address.</p>
            <p class="error-msg"><%= errors.email.msg %></p>
          </div>
            <button type="submit" class="submit-btn">Reset Password</button>
        </form>
        <% } %>
    </div>
  </main>
  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/icon.ejs') %>
</body>