<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/account.css">
</head>
<body>
  <%- include('../includes/nav.ejs', {path: path, isLogged: isLogged}) %>
  <div class="account-container">
    <%- include('../includes/profile.ejs', {path: path}) %>
    <main class="product-col">
      <h2 class="profile-heading">Product #<%= product.id %></h2>
      <div class="product-container">
        <div class="image-box">
          <img src="/images/1676268696270-online-shopping2.jpg"
          alt="laptop"
          class="product-image">
        </div>
        <div class="description-box">
          <div>
            <h2><%= product.title %></h2>
            <div class="rating-container">
              <p class="price"><span>$</span><%= product.price %></p>
            </div>
            <p class="count"><%= product.storageQuantity %> units in stock</p>
            <div class="description-container">
              <p class="long-description"><%= product.fullDesc %></p>
            </div>
            <div class="button-box">
              <a href="/edit-product/<%= product.id %>" class="product-btn">Edit</a>
              <form action="/delete-product" method="post">
                <input type="hidden" name="productId" value="<%= product.id %>">
                <button type="submit" class="product-btn delete--btn">Delete</button>
              </form>
            </div>
            
          </div>

        </div>

      </div>
    </main>
  </div>

  <%- include('../includes/footer.ejs') %>
  <%- include('../includes/icon.ejs') %>

</body>