<aside class="profile-col">
  <h2 class="profile-heading">Your Account</h2>
  <ul class="account-links">
    <li>
      <a href="/products" class="<%= path === '/products' ? 'active' : '' %>">Your Products</a>
    </li>
    <li>
      <a href="/add-product" class="<%= path === '/add-product' ? 'active' : '' %>">Add Product</a>
    </li>
    <li>
      <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a>
    </li>
    <li>
      <a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>">Orders</a>
    </li>
    <li>
      <a href="/deleted-products" class="<%= path === '/deleted-products' ? 'active' : '' %>">Deleted Products</a>
    </li>
    <h3 class="settings-heading">Account Settings</h3>
    <li>
      <a href="/account" class="<%= path === '/account' ? 'active' : '' %>" >Account</a>
    </li>
    <li>
      <a href="/change-password" class="<%= path === '/change-password' ? 'active' : '' %>">Change Password</a>
    </li>
    <li>
      <a href="/payment-history" class="<%= path === '/payment-history' ? 'active' : '' %>">Payment History</a>
    </li>
  </ul>
</aside>
